# Node / frontend
node_modules/
pnpm-lock.yaml
frontend/build_log.txt
frontend/pnpm.exe

# Node binaries
node-v*/
*.msi
*.zip

# Python
__pycache__/
*.pyc

# Data
data/

# Frontend build output
static/assets/


